
.filter_container {
    margin-left: 15px;
}

.search_title {
    display: flex;
    margin-bottom: 20px;
}


.list_items {
    display: flex;
    width: 30%;
    flex-direction: row;
    padding: 10px 0 10px 0px;
}


.button_div {
    margin-left: auto;
}