.phonebook_form {
    margin-left: 15px;
}

.phonebook_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-color: black;
    border-style: solid;
    background-color: aliceblue;
    padding-bottom: 20px;
    padding-top: 10px;
}

.name_label {
    padding: 10px 0px 10px 20px;
}

.number_label {
    padding: 10px 0px 10px 20px;

}

.name_input {
    width: 30%;
    margin: 10px 0px 20px 30px;
}

.number_input {
    width: 30%;
    margin: 0px 0px 20px 30px;
   
}

.addcontact_button {
    width: 20%;
}

.delete_button {
    margin: 0 0 0 10px;
}

.button_div {
    margin: 0px 0px 0px 20px;
}